<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesionSL</servlet-name>
        <servlet-class>Servlets.InicioSesionSL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroSL</servlet-name>
        <servlet-class>Servlets.RegistroSL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contacto</servlet-name>
        <servlet-class>Servlets.contacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>suscripcion</servlet-name>
        <servlet-class>Servlets.suscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProducto</servlet-name>
        <servlet-class>Servlets.ControladorProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIMG</servlet-name>
        <servlet-class>Servlets.ControladorIMG</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesionSL</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroSL</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contacto</servlet-name>
        <url-pattern>/contacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>suscripcion</servlet-name>
        <url-pattern>/suscripcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProducto</servlet-name>
        <url-pattern>/ControladorProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIMG</servlet-name>
        <url-pattern>/ControladorIMG</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
